* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    background: #009CD0;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    color: white;
    background-color: #23252B;
}

main, .hero, footer {
    padding: 3rem;

}

section {
    padding: 2rem 0;
}

section:nth-child(1){
    padding-top: 6rem;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.3s ease;
}

h1,
h2,
h3 {
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
}

ul {
    list-style: none;
}

/* navbar */
a:hover {
    color: #009CD0;
}

.menu-toggle a {
    display: block;
}

.menu-toggle li {
    padding: 1rem 0;
    text-transform: uppercase;    
}

.menu-toggle ul {
    visibility: hidden;
    text-align: right;
    background-color: #2a2e35;
    max-height: 0;
    opacity: 0;
    padding: 5px 3rem;
    box-shadow: 
        inset 0px 11px 8px -10px #000,
        inset 0px -11px 8px -10px #000; 
    transition: 
      max-height 0.25s ease-in,
      opacity 0.15s ease-in,
      visibility 0.5s ease-in;
}

.menu-toggle input:checked ~ ul {
    visibility: visible;
    transition: 
      max-height 0.25s ease-in,
      opacity 0.5s ease-in;
    max-height: 200px;
    opacity: 1;
}

input[type="checkbox"] {
    display: block;
    width: 40px;
    height: 40px;
    margin: 3rem 3rem 1rem auto;
    content: url(assets/icons/bars-solid.svg);
    filter: invert(1) saturate(0) opacity(0.3);
    -webkit-appearance: button-bevel;
}

input[type="checkbox"]:checked {
    filter: invert(0.5) sepia(2) saturate(51) hue-rotate(175deg);
}
/*  */


/* hero */


.hero {
    line-height: 2;
}

.headshot {
    margin-top: 2rem;
    width: 60%;
    border-radius: 50%;
    margin-left: 20%;
    padding: 0 7%;
}

/*  */

/* sections */

.project {
    padding: 4rem 0;

}

.project-img {
    width: 100%;
    display: block;
    padding-bottom: 2rem;

}

.project p {
    padding: 1rem 0 1.5rem;
}

.project-links a {
    margin-right: 2rem;
}

.list-container {
    padding-top: 4rem;
}

.contact-list li {
    position: relative;
    left: 50px;
}

.contact-list {
    line-height: 4rem;
}

.icon {
    filter: invert(0.5) sepia(2) saturate(51) hue-rotate(175deg);
    position: absolute;
    left: -50px;
    width: 30px;
    top: 14px;
}

footer {
    padding-top: 2rem;
    text-align: center;
}

/*  */

/* tablets */
@media (min-width: 862px) {


    .hero {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .hero-text {
        text-align: left;
        width: 60%;
    }

    .headshot {
        margin-left: 0;
        width: 30%;
        padding: 0;
    }

    .project {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row-reverse;
    }

    .project-img {
        display: inline-block;
        width: 50%;
        height: 50%;
    }

    .project-description {
        display: inline-block;
        width: 40%;
        /* align-self: center; */
    }


}

@media (min-width: 960px) {
    .menu-toggle ul {
        visibility: visible;
        max-height: 200px;
        opacity: 1;
        box-shadow: none;
        background-color: #23252B;
        padding: 2rem 3rem;

    }


    #contacts div {
        display: flex;
        justify-content: space-between;
    }

    .contact-list {
        display: inline-block;
    }

    .contact-list li {
        display: inline-block;              
        margin-right: 70px;
    }

    input[type="checkbox"] {
        visibility: hidden;
        position: fixed;
        
    }
    
    .menu {
        background-color: transparent;
        visibility: visible;
        padding: 2rem 4rem;
        display: flex;
        justify-content: flex-end;
        box-shadow: none;
        -webkit-box-shadow: none;
    
        
    }

    .menu a {
        display: inline-block;
        margin-left: 2rem;
        
    }
}

@media (min-width: 1200px) {
    main, .hero, footer {
        padding: 3rem 10rem;
    }

    .menu-toggle ul {
        padding: 2rem 10rem;
    }

    
}

@media (min-width: 1533px) {
    .project-description {
        align-self: center;
    }

    main, .hero, footer {
        padding: 3rem 20rem;
    }

    .menu-toggle ul {
        padding: 2rem 20rem;
    }

    .menu a {
        margin-left: 4rem;
    }


}

