* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    color: white;
    background-color: #111111;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

/* navigation bar */
.arrow {
    visibility: hidden;
    position: fixed;
    bottom: 15%;
}

.navbar {
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.logo {
    visibility: hidden;
    margin-left: 20px;
}

.hamburger {
    font-size: 2rem;
    color: rgba(255,255,255, 0.5)
}

.navbar-mobile{
    visibility: hidden;
    position: fixed;

}


/* hero */

.hero {
    text-align: left;
    padding-top: 20px;
    line-height: 2;
}

.headshot {
    margin-top: 2rem;
    width: 60%;
    border-radius: 50%;
    margin-left: 20%;
}


/* sections */
.container {
    padding: 3rem 3rem;
}

main .container:nth-child(even) {
    text-align: right;
}

.project-screenshot {
    width: 100%;
}

h2{
    padding: 3rem 0;
}

h3 {
    padding: 2rem 0;
}

.links {
    margin-top: 2rem;
}

.links a:nth-child(2)::before {
    content: "| "
}

/* footer */

footer {
    /* background-color: aquamarine; */
    margin-top: 2rem;
    padding: 2rem;
    text-align: center;
    line-height: 3;

}

footer li {
    display: inline-block;
    width: 30px;
    margin: 0 1.5rem;
    filter: invert(0.5) sepia(2) saturate(51) hue-rotate(175deg);
}



/* tablets */
@media (min-width: 690px){
    .container {
        padding: 3rem 5rem;
    }

    .hero {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10%;
        padding-bottom: 10%;

    }

    .hero-text {
        text-align: left;
        width: 60%;
    }
    .headshot {
        margin-left: 0;
        width: 30%;
    }
}


/* laptop-desktop */
@media (min-width: 1000px) {
    .hamburger {
        visibility: hidden;
    }

    .navbar-mobile {
        visibility: visible;
        position: static;
    }

    .navbar-mobile li {
        display: inline-block;
        margin-left: 3rem;
        text-transform: uppercase;
    }

    .container {
        margin: 0 10%;
    }

    .project-screenshot{
        width: 70%;
    }
}